<h1> Current Player : {{player}} </h1>
<button nbButton outline status="danger" (click)="newGame()"> Start New Game</button>

<h2 *ngIf="winner">
    Player {{winner}} won!
</h2>
<div class="grid-template">
    <main>
        <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">

        </app-square>
    </main>

    <div class="table-history">
        <table>
            <tr class="border">
                <th>Lịch sử vòng đấu</th>
            </tr>
            <tr *ngFor="let child of arrHistory">
                <p [innerHTML]="child"></p>
            </tr>
        </table>
    </div>
</div>